<link rel="stylesheet" href="/css/index.css">
<div class="container" style="margin: 0px;">
    <div class="form">
        <div id="form1">
            <h2>{{data.fruit_name}} Basket</h2> <br>
            <div style="display:flex; flex-wrap:nowrap;gap: 30px;" class="flex">
                <p> <strong>Price</strong> <br> <br> R{{data.fruit_price}}</p>
                <p><strong>Count</strong> <br> <br> {{data.count}} times </p>
                <p><strong>Total</strong> <br> <br> R{{data.total}} </p>
            </div> 
            <form action="/submit" method="post">
                <h4>Update Basket</h4> 
                <div class="elements">
                    <label for="">Price</label> <input type="number" name="price" value="{{data.fruit_price}}">
                </div> <br> 
                <div class="elements">
                    <input type="hidden" name="fruitName" value="{{data.fruit_name}}">
                    <label for="">Count</label> <input type="number" name="count" value="{{data.count}}">
                </div>
                  <div class="elements">
                   <button type="submit">Update</button>
                </div>
            </form>
        </div>
        <div class="result">
             <br> <br>
            <p class="p"><a href="/">Home</a></p>
             <p class="p"><a href="/reset">Reset</a></p>
        </div>
    </div>
</div>
